<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:minSdkVersion="31"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" android:minSdkVersion="31"/>

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />


    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_printservice"
        android:label="@string/app_name"
        android:extractNativeLibs="false"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data android:name="android.content.APP_RESTRICTIONS"
            android:resource="@xml/app_restrictions" />

        <activity
            android:name=".activities.PrinterInfoActivity"
            android:autoRemoveFromRecents="true" />

        <!-- Allow printing of PDF documents -->
        <activity
            android:name=".activities.PdfPrintActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/print"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>

        <!-- Allow printing of Images -->
        <activity
            android:name=".activities.ImagePrintActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/print"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <!-- Add Printer Activity -->
        <activity
            android:name=".activities.AddActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light"
            android:label="@string/add_printer" />

        <!-- Settings Activity -->
        <activity
            android:name=".activities.SettingsActivity"
            android:autoRemoveFromRecents="true"
            android:exported="true"
            android:label="@string/settings_title" />

        <!-- Printer Service -->
        <service
            android:name=".service.ZebraPrintService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_PRINT_SERVICE">
            <intent-filter>
                <action android:name="android.printservice.PrintService" />
            </intent-filter>

            <meta-data
                android:name="android.printservice"
                android:resource="@xml/printservice" />
        </service>
    </application>

</manifest>